<div>
    <h2><%= List.first(@articles).subject %></h2>
    <%= for article <- @articles do %>
    <div class="article">
        <div class="metadata">
            <%= format_date(article.date) %> | <%= article.from %>
        </div>
        <div>
            <%= format_article_body(article.body) %>
        </div>
    </div>
    <% end %>
</div>
